@model TransferDTOout
<div class="card m-2" style="max-width: 16rem;">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">Recieved: @Model.Ammount.ToString("F2")</h5>
        <h6 class="card-subtitle mb-2">Sender: @Model.SenderUserName@@(@Model.SenderPhoneNumber)</h6>
        <p class="card-text">@Model.Comment</p>
        <h6 class="card-subtitle mb-2 text-muted font-italic">Recieved on: @GlobalConstants.FormatDateTime(Model.CreatedOn)</h6>
        <form asp-area="" asp-controller="Dashboard" asp-action="SendGift" method="post">
            <input type="hidden" name="RecieverUnameOrPhone" value="@Model.SenderPhoneNumber" />
            <input type="hidden" name="Comment" value="@Model.Comment" />
            <button type="submit" class="btn btn-primary">Send Back</button>
        </form>
    </div>
</div>